@inherits UmbracoViewPage
<section id="services">
    <div class="container">
        <h2>@Umbraco.Field("section3Heading")</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="service_item">
                    <img src="images/service_img1.jpg" alt="Our Services" />
                    <h3>@Umbraco.Field("section3Feature1Heading")</h3>
                    <p>@Umbraco.Field("section3Feature1Summary")</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service_item">
                    <img src="images/service_img2.jpg" alt="Our Services" />
                    <h3>@Umbraco.Field("section3Feature2Heading")</h3>
                    <p>@Umbraco.Field("section3Feature2Summary")</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service_item">
                    <img src="images/service_img3.jpg" alt="Our Services" />
                    <h3>@Umbraco.Field("section3Feature3Heading")</h3>
                    <p>@Umbraco.Field("section3Feature3Summary")</p>
                </div>
            </div>
        </div>
    </div>
</section>
