@inherits UmbracoViewPage
<section id="why_us">
    <div class="container text-center">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="head_title">
                    <h2>@Umbraco.Field("section2Heading")</h2>
                    <p>@Umbraco.Field("section2Summary")</p>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="why_us_item">
                    <span class="fa fa-leaf"></span>
                    <h4>@Umbraco.Field("section2Feature1Heading")</h4>
                    <p>@Umbraco.Field("section2Feature1Summary")</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="why_us_item">
                    <span class="fa fa-futbol-o"></span>
                    <h4>@Umbraco.Field("section2Feature2Heading")</h4>
                    <p>@Umbraco.Field("section2Feature2Summary")</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="why_us_item">
                    <span class="fa fa-group"></span>
                    <h4>@Umbraco.Field("section2Feature3Heading")</h4>
                    <p>@Umbraco.Field("section2Feature3Summary")</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="why_us_item">
                    <span class="fa fa-line-chart"></span>
                    <h4>@Umbraco.Field("section2Feature4Heading")</h4>
                    <p>@Umbraco.Field("section2Feature4Summary")</p>
                </div>
            </div>
        </div>
    </div>
</section>
